{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}?">
</head>
<body>
    <div class="signuppage">
        <form action="" method = "POST">
            {% csrf_token %} 
            <table>
            {{form}}
            </table>
            <input type="submit" name = "SUBMIT" class="btn">
        </form>
    </div>
</body>
</html>